<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>
</head>

<body>

    <h1>Products</h1>
    <form method="get">
        <input type="text" name="q" placeholder="Search" value="{{request.GET.q}}">
        <button type="submit" name="search" value="search">Search</button>

        <select name="category">
            <option value="">Categories</option>
            {% for category in categories %}

            <option value="{{ category.id }}" {% if selected_category == category.id|stringformat:"s" %}selected{% endif %}>
                {{ category.name }}
            </option>
            {% endfor %}
        </select>

        <fieldset>
            <legend>Tags</legend>
            {% for tag in tags %}
            <label>
            <input type="checkbox" name="tags" value="{{ tag.id }}" 
            {% if selected_tags and tag.id|stringformat:"s" in selected_tags %}checked{% endif %}>
            
            {{ tag.name }}
            
        </label>
        {% endfor %}
        </fieldset>


        <button type="submit">Filter</button>
    </form>

    <ul>
        {% for product in products %}
        <li>
            <strong>{{ product.name }}</strong>
            - {{ product.description }}
            <br>
            <em>Category: {{ product.category.name }}</em>
            <br>
            Tags:
            {% for tag in product.tags.all %}
            {{ tag.name}}
            {% if not forloop.last %},
            {% endif %}
            {% endfor %}
        </li>
        {% empty %}
        <li>No products found.</li>
        {% endfor%}
    </ul>


</body>

</html>